/* Fondo pag web */
#body {
    background-image: url(imgens/crespo.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
   }
body {
    background-image: url(imgens/Fondo.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;      
}

/* Orden de pagina index */
#grilla { 
    display: grid;       
    grid-template-columns: .75fr .5fr .5fr; 
    grid-template-rows: 100px 1000px 200px; 
    grid-template-areas: "header header header" "article article aside" "footer footer footer";     
    
}
#grillatwo {
    display: grid;       
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2 1fr 200px; 
    grid-template-areas: "header" "article__pag" "footer";     
    
}

.header {  
    grid-area: header; 
    background: linear-gradient(to right,yellow ,rgba(243, 46, 7, 1),rgba(243, 46, 7, 1)) ;
    width: 100%;
    position: fixed;
    z-index: 20;
} 

.article {     
    grid-area: article ;        
}
.footer {
    grid-area: footer;  
     
}
.aside {
    grid-area: aside;
       
}
.article2 {
    grid-area: article2; 
     
}
/*orden de siguientes pagina */

.article__pag {
    padding-top: 100px;
    grid-area: article__pag;
}
/* Menu */

.header img {
    margin-left: 80px;
    width: 70px;
}
.header .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    font-size: 20px;
    font-weight: bold;    
}
.header .nav ul {
    display: flex; 
    flex-grow: 1;
    justify-content: space-evenly; 
    flex-wrap: wrap; 
}

.header .nav ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;   
}

.header .nav ul li a { 
    text-decoration: none;
    color: white;
    position: relative;
}

.header .nav ul li ul {
    position: absolute;
}
.header .nav ul ul {  
    padding-top: 5px;
    margin-top: 25px;
    position: absolute;
    display: none;    
}
.header .nav ul ul li {
    margin-left: -45px;
    width: 87px;
    height: 40px;
    background-color: rgba(243, 46, 7, 1);
    justify-content: center; 
}


/* Detalles menu */
.header .nav ul li a::before {
    display: inline-block;
    content: '';
    width: 0;
    background: rgba(243, 235, 230, 0.9);
    height: 2px;
    top: 0;
    position: absolute;
    transition: all 1s;
}
.header .nav ul li a:hover::before {
    width: 100%;
}

.header .nav ul li:hover ul {
    display: block;      
}

/* Article */
.article {
    display: grid;
    padding-top: 100px;
    grid-template-columns: 1fr ; 
    grid-template-rows: 700px 300px; 
    grid-template-areas: "info1" "info2";   
    text-align: center;
    margin-left: 10px;
}

.article .info-one {
    grid-area: info1;  
}
.flecha1 {
    text-decoration: none;
    color: rgba(243, 46, 7, 0.9);
    margin: 5px;
    font-size: 50px;
   
}
.article .info-one iframe {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 300px;
}

.article .info-two { 
    grid-area: info2;   
}


/* Footer */
.footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 0, 0.7),rgba(243, 46, 7, 0.7),rgba(243, 46, 7, 0.7)) ;
}
.footer .maps {  
    width: 250px;
    height: 230px;  
    margin-top: 70px; 
 }


 .footer .redes {
     text-decoration: none;
     color: black;   
 }
 .footer .redes i {
    color: black;
    font-size: 30px;
    
}

/*aside */
.aside ul {
    position: fixed;
}

.aside ul li h3 {
    list-style: none;
    margin-top: 85px;
    background: radial-gradient(rgb(212, 133, 29 ),rgba(243, 46, 7, 1));   
    position: relative;
    padding: 11px;    
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.aside__noticia img {
    width: 150px;
    height: 100px;
    
}
.aside li {
    display: inline-block;
    position: relative;
    
}

.aside ul ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    display: none;   
}
.aside ul ul li {   
    color: white;
    text-align: center; 
}


.aside ul li:hover > ul {
    display: block;
    position: absolute;
    background: rgba(243, 46, 7, 0.7) ;
    margin-top: -19px;
    
}

/* Html musica */
.article__pag h2 {
    display:flex;
    justify-content: center;
    text-align: center;
    color: white;
    width: 200px;
    background:linear-gradient(to right,rgba(243, 46, 7, 1),rgb(212, 133, 29) );
    border-radius: 20px;
    margin: auto;
}
.article__pag h3 {
    display:flex;
    justify-content: center;
    color: white;
    width: 200px;
    background:linear-gradient(to right,rgba(243, 46, 7, 1),rgb(212, 133, 29) );
    border-radius: 10px;
    margin: auto;
}
.article__pag .musica__grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}
.musica__grilla iframe {
    width: 100%;
}
.musica__grilla iframe, .musica__grilla h3 {
    margin-top: 10px;
}
/* html arte plastico */
.article__pag .arteplastico {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.arteplastico .anabella {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 250px 250px;
    grid-template-areas: "img1 img2" "img3 img3";
    text-align: center;
    column-gap: 5px;
    row-gap: 5px;
}

.arteplastico .micha {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 250px 250px;
    grid-template-areas: "img4 img5" "img6 img6";
    text-align: center;
    column-gap: 5px;
    row-gap: 5px;   
}

.img1 {
    grid-area: img1;
    width: 150px;
    height: 250px;
    object-fit: cover;
}
.img2 {
    grid-area: img2;
    width: 150px;
    height: 250px;
    object-fit: cover;
}
.img3 {
    grid-area: img3;
    width: 305px;
    height: 250px;
    object-fit: cover;
}
.img4 {
    grid-area: img4;
    width: 150px;
    height: 250px;
    object-fit: cover;
}
.img5 {
    grid-area: img5;
    width: 150px;
    height: 250px;
    object-fit: cover;
}
.img6 {
    grid-area: img6;
    width: 305px;
    height: 250px;
    object-fit: cover;
}

/* html sociales Eventos */
.article__pag .eventos {
    padding-top: 20px ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 280px 280px 280px;
    grid-template-areas: "h2" "lago" " lago2" " imefa";  
    column-gap: 10px;
    row-gap: 10px;
    margin : 20px;
    
}

.eventos h3 {
    margin-top: 15px;
}
.eventos img {
    margin-top: 10px;
    margin-bottom: -20px;
}
.lago {
    background: rgba(100, 40, 28, 0.5);
    text-align: center;
    grid-area: lago;
    color: white;
    border: 2px dotted white;
    border-radius: 20px;
}
.lago2 {
    background: rgba(100, 40, 28, 0.5);
    text-align: center;
    grid-area: lago2;  
    color: white;
    border: 2px dotted white;
    border-radius: 20px;
}
.imefa {
    background: rgba(100, 40, 28, 0.5);
    text-align: center;
    grid-area: imefa;   
    color: white;
    border: 2px dotted white;
    border-radius: 20px;
}
 /* html artistas */
 .article__pag .artistas{ 
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    min-width: 250px;
    text-align: center;
}
.artistas__crespo {
    flex: 1;   
}
.artistas img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* html contacto */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background:rgb(122, 66, 54) ;
    border-radius: 40px ;
    margin-bottom: 50px;
} 
.contacto {
    min-width: 250px;
    flex: 1;
    text-align: center;
    padding: 30px;
}
.contacto textarea {
    min-height: 140px;
    resize: none;
}
.contacto__input {
    width: 100%;
    padding: 6px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid black;
    background: transparent ;
    color: white;
}
.contacto__input:focus {
    background: linear-gradient(to bottom, transparent, rgba(243, 46, 7, 0.7));
    outline: none;
    border-bottom: 3px solid white;
}
.contacto-img {  
    padding: 10px;
}
.contacto-img img {   
    margin: 0 100px 0 100px;
    width: 250px;
    border-radius: 30%;
    background: white;  
    padding: 5px; 
}
.contacto input[type="submit"] {
   background-color: black;
   border-bottom: none;
   padding: 12px;
}
.contacto input[type="submit"]:hover {
    background-color: white;
    border-bottom: none;
    color: black;
    
}

.contacto input[type="submit"]:active {
    background: linear-gradient(to bottom, white, rgba(243, 46, 7, 0.7) )
}
@media screen and (max-width: 600px) {
    #grilla {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 200px ;
        grid-template-areas: "mobile" "article" "footer";  
}
    .header img {
        margin-left: 5px;
        width: 70px;
    }
    .article {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;
        margin: 0;
    }
    .article .mapa {
        margin-top: 100px;
        width: 100%;
    }
    .header .nav {
        display: flex;
        flex-direction: row;   
        font-size: 18px;
        font-weight: bold;    
    }
    .header .nav ul li:hover ul {
        display: none;      
    }
    .flecha1 {
        display: none;
    }
    .contacto-img img {   
        margin: 0;      
    }
}


   





