@import "colores";
@import "fondo";
@mixin flexin($disp, $just, $wra) { 
    display: $disp;
    justify-content: $just;
    flex-wrap: $wra;
}
@mixin bordersha ($radius , $eje) {
    border-radius: $radius;
    box-shadow: $eje $eje ($eje*2) #ee9435, (-$eje) (-$eje) ($eje*2) #ee9435 ;
}
#body {
    background-color: #e0d4c0 ;    
}
/* Menu */
.header {
     background:map-get($colores , colornav);
     width: 100%;
     z-index: 20; 
    .shadow{
          box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
    ul {
        @include flexin(flex , space-evenly, wrap);
        flex-grow: 1;
        align-content: center;
        li { 
            a { 
                 text-align: center;
                 position: relative;
                 color: #000000;
            }
            ul {
                position: relative;          
                display: none;  
            }
        } 
    }
    .header__nav {
        font-size: 20px; 
        img {
            width: 70px;
            margin: -13px 0 -13px;
        }
        ul ul {
             background-color: transparent ;
             border: none;
             text-align: center;
       }      
    }
    .navbar {
        .navbar-nav {
             .nav-link:not(.disabled):hover,
             .nav-link:not(.disabled):focus {
              color: #ffffff ;
             }
            .navbar-toggler {
                 border-color: #ffffff;
            }
            .dropdown-menu {
                background-color:map-get($colores , colornav);
                .dropdown-item {
                    color:#000000; 
                    &:hover,
                    &:focus,
                    &.active {
                         color:  #000000 ;
                         background-color:  #ffffff;
                    }       
                }
            }        
        }
    }
}
.banner {
    width: 100%;
    padding: 20rem 2rem;
    background: url(imgens/crespo.jpg);
    background-color: rgba (0,0,0,0.3);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    .banner__flecha {
         color: #000000;
         text-decoration: none;
         font-size: 50px; 
         @include flexin(flex, space-around, wrap);
         margin-top: 250px;
         margin-bottom: -250px;
         &:hover,
         &:focus {
             color:map-get($colores , colornav);
         }
    }
    img {     
        @include flexin(flex,center ,wrap );  
        width: 400px;
        height: 400px;
        margin: -200px 0 -200px;
    }
}
/* Article */
.article__one {  
    padding-top: 100px;
    text-align: center;
    h1 {
        display: inline-block;
        margin-bottom: 50px;
        margin-top: -50px;
        color:#ffffff;
        font-size: 50px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background:map-get($colores , colornav);
        border-radius: 10px;
    }
    .article__one--info-one,
    .article__one--info-two {
         color: #000000;
         background:map-get($colores , colorarticle);
         padding-bottom: 10px;
         border-radius: 10px;
    }
    .article__one--info-one iframe {
         @include flexin(flex, center ,wrap ); 
         width:100%;
         height: 300px;
    }
    .article__one--flecha{
         text-decoration: none;
         color: #000000;
         font-size: 50px; 
         @include flexin(flex, space-around ,wrap ); 
         :hover,
         :focus {
            color:map-get($colores , colorarticle);
         } 
    }
}
.article__two {
    .container {
         margin-bottom: 30px;
         .h4 {
            color: #000000;
         }
         .noticias{           
             background:map-get($colores , colorarticle);
             h5 {
                @extend .titulo;
             }
             p { 
                @extend .small;
             }
        }
    }  
}

/* Footer */
.footer__one {
    width: 100%;   
    text-align: center;
    vertical-align: middle;
    background:map-get($colores , colorfooter);
    z-index: 10;
    img { 
        margin-top: 15px;
        vertical-align: middle;
        width: 80%;
    }
    p {
        color: black;
    }   
}
.footer__two {
    width: 100%;   
    text-align: center;
    background:map-get($colores , colornav);
    z-index: 10;
    p {
        color: #000000;
    }
}
.redessociales {
     @include flexin(flex, center ,wrap ); 
    .icon{
         justify-items: auto;
         margin: 10px;
         border-radius: 5px;
         width: 60px;
         height:60px;
         background:map-get($colores , colornav);
         &:hover,
         &:focus { 
             color:map-get($colores , colornav);
             background: #ffffff;
        }
        a{ 
             text-align: center;
             font-size: 40px; 
             color: #ffffff;
             :hover,
             :focus {
                 color:map-get($colores , colornav);
                 background: #ffffff;
            }
        }
    } 
}

/*article__pag*/
.article__pag {
     h1 {
         @extend .titulo;
         font-weight: bold;
         text-align: center;
         font-size: 25px;
         color: #000000;
     }
     .article__pag--music {
         margin-top: 20px;
         margin-bottom: 20px;
        iframe {
             width: 100%;
             height: 500px;
        }
    }
     .article__pag--plastic {
         margin-top: 20px;
         margin-bottom: 20px;
         img {
             width: 100%;
             height: 500px;
             object-fit: cover;
        }
    }  
    .article__pag--eventos {
        .container {        
             @include flexin(flex, center ,wrap ); 
             margin-top: 20px; 
             margin-bottom: 20px;
             .ucard {   
                @include bordersha(10px, 5px );           
                h1 {
                    @extend .titulo;
                }
                @extend .fondocarta;
                img {
                    @extend .avatar;
                }
                p { 
                    @extend .small;
                }
             }
        }
    } 
    .article__pag--artistas{
         .container {
             @include flexin(flex, center ,wrap ); 
             margin-top: 20px; 
             margin-bottom: 20px;
             h5 {
                @extend .titulo;
            }
            .ucard {
                @include bordersha(10px, 5px );
                @extend .fondocarta;
                img {
                    @extend .avatar;
                    border-radius: 100px;
                }
                p { 
                    @extend .small;
                }
            }
        }  
    }
}

/*contacto */
.flex-container {
     @include bordersha(10px, 5px );
     @include flexin(flex, space-around ,wrap ); 
     align-items: center;
     background:map-get($colores , colorarticle);
     border-radius: 40px ;
     margin-bottom: 50px ;
} 
.contacto {     
     min-width:250px;
     flex: 1;
     text-align: center;
     padding: 30px;
     textarea {
        min-height: 140px;
        resize: none;
    } 
    .contacto__input {
    width: 100%;
    padding: 6px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #000000;
    background: transparent ;
    color:#ffffff;
    &:focus {
        background: linear-gradient(to bottom, transparent,map-get($colores , colorfooter));
        outline: none;
        border-bottom: 3px solid #000000;
    }
    }
    img {   
        width: 250px;
        border-radius: 30%;
        background:map-get($colores , colorfooter);
        padding: 5px; 
    }
    input[type="submit"] {
        background-color: #000000;
        border-bottom: none;
        padding: 12px;
        border-radius: 10px;
        &:hover {
            background-color:map-get($colores , colorfooter);
            border-bottom: none;
            color: #000000;  
        }
        &:active {
            background:map-get($colores , colornav);
       }
    }
}
@media screen and (max-width: 800px) {   
    .banner img {
         display: flex;
         flex-wrap: wrap;
         width: 150px;
         height: 150px;
         margin: -100px -20px -200px;
    }
    .header .home img {
         display: none;
  }
    .header .home {
         margin: 0;
  }
    .header .logo {
         display: block;
  }
}