.fondocarta, .article__pag .article__pag--eventos .container .ucard, .article__pag .article__pag--artistas .container .ucard {
  background: rgba(162, 181, 161, 0.4);
  text-align: center;
}

.avatar, .article__pag .article__pag--eventos .container .ucard img, .article__pag .article__pag--artistas .container .ucard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titulo, .article__two .container .noticias h5, .article__pag h1, .article__pag .article__pag--eventos .container .ucard h1, .article__pag .article__pag--artistas .container h5 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 8px;
  opacity: 0.85;
}

.small, .article__two .container .noticias p, .article__pag .article__pag--eventos .container .ucard p, .article__pag .article__pag--artistas .container .ucard p {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.75;
}

#body {
  background-color: #e0d4c0;
}

/* Menu */
.header {
  background: #ee9435;
  width: 100%;
  z-index: 20;
}

.header .shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header ul li a {
  text-align: center;
  position: relative;
  color: #000000;
}

.header ul li ul {
  position: relative;
  display: none;
}

.header .header__nav {
  font-size: 20px;
}

.header .header__nav img {
  width: 70px;
  margin: -13px 0 -13px;
}

.header .header__nav ul ul {
  background-color: transparent;
  border: none;
  text-align: center;
}

.header .navbar .navbar-nav .nav-link:not(.disabled):hover,
.header .navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}

.header .navbar .navbar-nav .navbar-toggler {
  border-color: #ffffff;
}

.header .navbar .navbar-nav .dropdown-menu {
  background-color: #ee9435;
}

.header .navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #000000;
}

.header .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .header .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .header .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #000000;
  background-color: #ffffff;
}

.banner {
  width: 100%;
  padding: 20rem 2rem;
  background: url(imgens/crespo.jpg);
  background-color: rgba 0, 0, 0, 0.3;
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner .banner__flecha {
  color: #000000;
  text-decoration: none;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 250px;
  margin-bottom: -250px;
}

.banner .banner__flecha:hover, .banner .banner__flecha:focus {
  color: #ee9435;
}

.banner img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: -200px 0 -200px;
}

/* Article */
.article__one {
  padding-top: 80px;
  text-align: center;
}

.article__one h1 {
  display: inline-block;
  margin-bottom: 20px;
  color: #000000;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article__one .article__one--info-one,
.article__one .article__one--info-two {
  color: #000000;
  background: rgba(162, 181, 161, 0.4);
  padding-bottom: 10px;
  border-radius: 10px;
}

.article__one .article__one--info-one iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 300px;
}

.article__one .article__one--flecha {
  text-decoration: none;
  color: #000000;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article__one .article__one--flecha :hover,
.article__one .article__one--flecha :focus {
  color: rgba(162, 181, 161, 0.4);
}

.article__two .container {
  margin-bottom: 30px;
}

.article__two .container .h4 {
  color: #000000;
}

.article__two .container .noticias {
  background: rgba(162, 181, 161, 0.4);
}

/* Footer */
.footer__one {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background: #b68f70;
  z-index: 10;
}

.footer__one img {
  margin-top: 15px;
  vertical-align: middle;
  width: 80%;
}

.footer__one p {
  color: black;
}

.footer__two {
  width: 100%;
  text-align: center;
  background: #ee9435;
  z-index: 10;
}

.footer__two p {
  color: #000000;
}

.redessociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.redessociales .icon {
  justify-items: auto;
  margin: 5px;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: #ee9435;
}

.redessociales .icon:hover, .redessociales .icon:focus {
  color: #ee9435;
  background: #ffffff;
}

.redessociales .icon a {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

.redessociales .icon a :hover,
.redessociales .icon a :focus {
  color: #ee9435;
  background: #ffffff;
}

/*article__pag*/
.article__pag h1 {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: #000000;
}

.article__pag .article__pag--music {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article__pag .article__pag--music iframe {
  width: 100%;
  height: 500px;
}

.article__pag .article__pag--plastic {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article__pag .article__pag--plastic img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__pag .article__pag--eventos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article__pag .article__pag--artistas .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article__pag .article__pag--artistas .container .ucard img {
  border-radius: 100px;
}

/*contacto */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(162, 181, 161, 0.4);
  border-radius: 40px;
  margin-bottom: 50px;
}

.flex-container img {
  padding: 5px;
  width: 350px;
  border-radius: 30%;
}

.flex-container .contacto {
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 20px;
}

.flex-container .contacto textarea {
  min-height: 140px;
  resize: none;
}

.flex-container .contacto .contacto__input {
  width: 100%;
  padding: 6px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid #000000;
  background: transparent;
  color: #000000;
}

.flex-container .contacto .contacto__input:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ee9435));
  background: linear-gradient(to bottom, transparent, #ee9435);
  outline: none;
  border-bottom: 3px solid #000000;
}

.flex-container .contacto input[type="submit"] {
  background-color: #ffffff;
  border-bottom: none;
  padding: 12px;
  border-radius: 10px;
}

.flex-container .contacto input[type="submit"]:hover {
  background-color: #ee9435;
  border-bottom: none;
  color: #000000;
}

.flex-container .contacto input[type="submit"]:active {
  background: #ee9435;
}

@media screen and (max-width: 800px) {
  .banner img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 150px;
    height: 150px;
    margin: -100px -20px -200px;
  }
  .header .home img {
    display: none;
  }
  .header .home {
    margin: 0;
  }
  .header .logo {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */